# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
warnings_are_errors: true

os:
  - linux
  - osx

r:
  - 3.6.1
  - oldrel
  - release
  - devel

after_success:
  - Rscript -e 'covr::codecov(type = "all")'

matrix:
  exclude:
    - r: devel
      os: osx
